<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show and Tell</title>
</head>
<body>
    <div style="text-align:center;">
        <h1>Image Caption</h1>
        <form action="" enctype='multipart/form-data' method='POST'>
            <i>请选择你要上传的 图片：</i>
            <input type="file" name="file" style="margin-top:20px;"/>

            <!--
            <input type="text" class="txt_input" name="name"  placeholder="请上传图片" style="margin-top:10px;"/>
            -->
            <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
        </form>
        <h1>阁下输入的图片是:</h1>
        <img src="{{ url_for('static', filename= './images/test.jpg') }}" width="300" height="300" alt="你的图片被外星人劫持了～～"/>
        <br>
        <div style="text-align:left;margin-left: 35%;">
            <br>系统生成的一句话描述情况如下:
            <br>
            <span>1) <font color="red" style="font-weight:bold;">{{s[0]['word']}}</font></span><br>
            <span>2) <font color="red" style="font-weight:bold;">{{s[1]['word']}}</font></span><br>
            <span>3) <font color="red" style="font-weight:bold;">{{s[2]['word']}}</font></span><br>
        </div>
    </div>
</body>
</html>