<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show and Tell</title>
</head>
<body>
    <div style="text-align:center;">
        <h1>Image Caption</h1>
        <form action="" enctype='multipart/form-data' method='POST'>
            <i>请选择你要上传的 图片：</i>
            <input type="file" name="file" style="margin-top:20px;"/>

            <!--
            <input type="text" class="txt_input" name="name"  placehoder="请选择图片上传" style="margin-top:10px;"/>
            -->
            <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
        </form>

        <span><font color="red" style="font-weight:bold;">{{message}}</font></span>
    </div>
</body>
</html>